body {
  background-color: #fbfbff;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

img {
  opacity: .7;
}

#blue-dot {
  position: absolute;
  top: 125px;
  left: 50px;
  width: 250px;
  height: 250px;
}

#red-dot {
  position: absolute;
  top: 200px;
  left: 50px;
  width: 250px;
  height: 250px;
}

#track {
  width: 1020px;
}

#results-box {
font-size: 20px;
}

#winners-circle {
  position: absolute;
  width: 75px;
  height: 1000px;
  left: 1200px;
}

/*.btn {
  top: 500px;;
  width: 100px;
  text-align: center;
}*/
