body {

}

.text {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

img {
  opacity: .7;
}

#blue-dot {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 250px;
  height: 250px;
}

#red-dot {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 250px;
  height: 250px;
}

/*#yellow-dot {
  position: absolute;
  top: 45%;
  left: 10%;
  width: 200px;
  height: 200px;
}*/

#finish-line {
  position: absolute;
  border-left: dashed 2px;
  left: 50%;
}

.btn {
  position: fixed;
  top: 70%;
  width: 100px;
}
